extends layout

block content
	.alert.alert-success(role='alert' style='max-width:600px; margin:0px auto;')
		h4.alert-heading #{title}
		p #{content}
	br
	.text-center
		a(href='/service')
			span الرئيسة 
			i.fa.fa-home
