doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title عزم - أعمال 
    // CSS
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/form-elements.css')
    link(rel='stylesheet', href='assets/css/service.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // Favicon and touch icons
    link(rel='shortcut icon', href='assets/ico/favicon.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='assets/ico/apple-touch-icon-57-precomposed.png')

    meta(property='og:title', content='عزم')
    meta(property='og:image', content='assets/ico/apple-touch-icon-114-precomposed.png')
    meta(property='og:description', content='عزم هو موقع إلكتروني يربط مقدمي الخدمات المُسجلين مع المستهلكين الراغبين في الحصول على الخدمة. يُسهِّل الموقع للمستهلكين الحصول على خدمات ممتازة، كما يتيح لمقدمي الخدمة البروز بخدماتهم في مناطقهم.')
    meta(name='description', content='عزم هو موقع إلكتروني يربط مقدمي الخدمات المُسجلين مع المستهلكين الراغبين في الحصول على الخدمة. يُسهِّل الموقع للمستهلكين الحصول على خدمات ممتازة، كما يتيح لمقدمي الخدمة البروز بخدماتهم في مناطقهم.')

  body
    .top-content
      .container
        .row
          .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.form-box
            div(style='text-align:left; font-size:26px; margin-bottom:10px;')
              a(style='color: white;' href='/providers') مقدّم خدمة ؟
            form.f1(role='form', action='', method='post')
              h3 لطلب أرقام تواصل مقدمي الخدمة
              // <p>Fill in the form to get instant access</p>
              .f1-steps
                .f1-progress
                  .f1-progress-line(data-now-value='16.66', data-number-of-steps='3', style='width: 16.66%;')
                .f1-step.active
                  .f1-step-icon
                    i.fa.fa-wrench
                  p الخدمة
                .f1-step
                  .f1-step-icon
                    i.fa.fa-map
                  p المنطقة
                .f1-step
                  .f1-step-icon
                    i.fa.fa-phone-square
                  p مقدمي الخدمة
              fieldset
                h4(style='text-align: center;') اختر الخدمة
                .container-fluid
                  .row
                    ul.round-icon-menu-service
                      li#pf1paper
                        a
                          i.fas.fa-handshake
                          span تخليص معاملات
                      li#pf1truck
                        a
                          i.fa.fa-truck
                          span نقل بضائع
                      li#pf1auto
                        a
                          i.fa.fa-car
                          span السيارات
                      li#pf1gard
                        a
                          i.fa.fa-tree
                          span حدائق
                      li#pf1ele
                        a
                          i.fa.fa-tv
                          span الكهرباء
                      li#pf1plu
                        a
                          i.fa.fa-shower
                          span السباكة
                      li#pf1car
                        a
                          i.fas.fa-chair
                          span النجارة
                      li#pf1steel
                        a
                          i.fas.fa-link
                          span الحدادة
                input(type='hidden', name='sf1_service')
                .f1-buttons
                  button.btn.btn-next(style='display: none;', type='button') التالي
              fieldset
                h4#serviceAreaTitle(style='text-align: center;') اختر المنطقة
                ul#serviceAreaSelect.list-group.text-right()
                  li.list-group-item المعبيلة
                  li.list-group-item الخوض
                  li.list-group-item الموالح
                  li.list-group-item الحيل
                  li.list-group-item السيب (المركز)
                #notifyarea(style='display:none;')
                  .form-group
                    label(for='sf2_areainterest') اكتب منطقتك 
                    input.form-control(type='text', name='sf2_areainterest', placeholder='مثال: المعبيلة - السيب')
                  .form-group
                    label(for='sf2_mobileinterest')  رقم هاتفك 
                    input.form-control(type='tel', name='sf2_mobileinterest', placeholder='')
                  button#sf2_submitinterest.btn.btn-submit(data-path='/service/notify/area', type='submit') أرسل إشعارات لي

                .f1-buttons
                  button.btn.btn-previous(type='button') السابق
                  button.btn.btn-next(style='display:none;' type='button') التالي
              fieldset
                h4(style='text-align: center;') يمكنك التواصل مع هؤلاء
                #cards
                br
                br
                .f1-buttons
                  button.btn.btn-previous(type='button') السابق
                  a.btn.btn-submit(href='/service') البدء من جديد
            br
            div
              a(href='/about') عن الموقع
            br
    // Javascript
    script(src='assets/js/jquery-1.11.1.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src='assets/js/jquery.backstretch.min.js')
    script(src='assets/js/retina-1.1.0.min.js')
    script(src='assets/js/scripts.js')
    //if lt IE 10
      script(src='assets/js/placeholder.js')
