doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title عزم - أعمال
		// CSS 
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
		link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='assets/css/form-elements.css')
		link(rel='stylesheet', href='assets/css/service.css')
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
		// WARNING: Respond.js doesn't work if you view the page via file:// 
		//      [if lt IE 9]>
									<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
									<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
							<![endif]
		// Favicon and touch icons 
		link(rel='shortcut icon', href='assets/ico/favicon.png')
		link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/ico/apple-touch-icon-144-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/ico/apple-touch-icon-114-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/ico/apple-touch-icon-72-precomposed.png')
		link(rel='apple-touch-icon-precomposed', href='assets/ico/apple-touch-icon-57-precomposed.png')
	body
		.top-content
			.container
				.row
					.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.form-box
						div(style='text-align:left; font-size:26px; margin-bottom:10px;')
							a(style='color: white;' href='/service') عرض الخدمات ؟
						.f1(style='text-align:right; font-size:20px;')
							h1 عن الموقع
							p عزم هو موقع إلكتروني يربط مقدمي الخدمات المُسجلين مع المستهلكين الراغبين في الحصول على الخدمة. يُسهِّل الموقع للمستهلكين الحصول على خدمات ممتازة، كما يتيح لمقدمي الخدمة البروز بخدماتهم في مناطقهم.

							p خدمة الموقع (و ليس الخدمات من مقدمي الخدمات) مبادرة من قبل الشباب العماني و هناك فرصة لمن أراد المساهمة في كل من المجالات الآتية:
								ul
									li التصميم الجرافيكي و تصميم الشعار
									li التسويق و الإعلام 
									li البرمجة 

							p تقنية الموقع مبادرة مجتمعية من الشباب و هي مفتوحة المصدر و يمكن إيجادها 
								a(target='_blank' href='https://gitlab.com/omancoding/azem') هنا
								| .

							p تشغيل و صيانة عزم بنطاق azem.work من قبل 	
								a(href='https://twitter.com/omancoding') omancoding	
								| .

							p هنا ستكون قائمة بالمساهمين في عزم.
					br
					br
		// Javascript 
		script(src='assets/js/jquery-1.11.1.min.js')
		script(src='assets/bootstrap/js/bootstrap.min.js')
		script(src='assets/js/jquery.backstretch.min.js')
		script(src='assets/js/retina-1.1.0.min.js')
		script(src='https://www.google.com/recaptcha/api.js')

		script(src='assets/js/scripts.js')
		//      [if lt IE 10]>
									<script src="assets/js/placeholder.js"></script>
							<![endif]
