doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title عزم - أعمال
		// CSS 
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
		link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='assets/css/form-elements.css')
		link(rel='stylesheet', href='assets/css/provider.css')
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
		// WARNING: Respond.js doesn't work if you view the page via file:// 
		//      [if lt IE 9]>
									<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
									<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
							<![endif]
		// Favicon and touch icons 
		link(rel='shortcut icon', href='assets/ico/favicon.png')
		link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/ico/apple-touch-icon-144-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/ico/apple-touch-icon-114-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/ico/apple-touch-icon-72-precomposed.png')
		link(rel='apple-touch-icon-precomposed', href='assets/ico/apple-touch-icon-57-precomposed.png')
	body
		.top-content
			.container
				.row
					.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.form-box
						div(style='text-align:left; font-size:26px; margin-bottom:10px;')
							a(style='color: white;' href='/service') عرض الخدمات ؟
						form.f1(role='form', action='', method='post')
							h3 تسجيل ُمقدِّم خدمة
							//<p>Fill in the form to get instant access</p>
							.f1-steps
								.f1-progress
									.f1-progress-line(data-now-value='16.66', data-number-of-steps='3', style='width: 16.66%;')
								.f1-step.active
									.f1-step-icon
										i.fa.fa-wrench
									p الخدمة
								.f1-step
									.f1-step-icon
										i.fa.fa-map
									p المنطقة
								.f1-step
									.f1-step-icon
										i.fa.fa-phone-square
									p تفاصيل التواصل
							fieldset
								h4(style='text-align: center;') اختر الخدمة
								.container-fluid
									.row
										ul.round-icon-menu
											li#pf1paper
												a
													i.fas.fa-handshake
													span تخليص معاملات
											//li#pf1grocery
												a
													i.fa.fa-carrot
													span التسوق و التوصيل
											li#pf1truck
												a
													i.fa.fa-truck
													span نقل بضائع
											li#pf1auto
												a
													i.fa.fa-car
													span السيارات
											li#pf1gard
												a
													i.fa.fa-tree
													span حدائق
											li#pf1ele
												a
													i.fa.fa-tv
													span الكهرباء
											li#pf1plu
												a
													i.fa.fa-shower
													span السباكة
											li#pf1car
												a
													i.fas.fa-chair
													span النجارة
											li#pf1steel
												a
													i.fas.fa-link
													span الحدادة

								input(type='hidden', name='pf1_service')
								br
								#pf1-about-me.form-group(style='display: none;')
									//div
									//	b مثال في وصف الخبرة:
									//label
									textarea.form-control(name='pf1_servicedesc', placeholder='اكتب وصفاً لخبرتك في هذا المجال')
									br
									.f1-buttons
										button.btn.btn-next(type='button') التالي
				
							fieldset
								h4(style='text-align: center;') اكتب منطقة أو منطقتين تُقدم فيها خدماتك
								.form-group
									label(for='pf2_area1') المنطقة الأولى:
									input.form-control(type='text', name='pf2_area1', placeholder='المعبيلة')
								.form-group
									label(for='pf2_area2') المنطقة الثانية:
									input.form-control(type='text', name='pf2_area2', placeholder='الخوض')
								.f1-buttons
									button.btn.btn-previous(type='button') السابق
									button.btn.btn-next(type='button') التالي
							fieldset
								h4(style='text-align: center;') رقم هاتف الخدمة - يكون مسجل كرقم واتساب أيضاً -
								.form-group
									label(for='pf3_fullname') الاسم:
									input.form-control(type='text', name='pf3_fullname', placeholder='الاسم الثلاثي مع القبيلة')
								.form-group
									label(for='pf3_mobile') رقم الهاتف:
									input.form-control(style='text-align: left; direction: ltr;', type='tel', name='pf3_mobile')
								.form-group
									.g-recaptcha(data-sitekey='6LdcC4cUAAAAAJHcEAspntPNceRW7lUB57b-MJGX')
								br
								br
								.f1-buttons
									button.btn.btn-previous(type='button') السابق
									button.btn.btn-submit(data-path='/providers/new' type='submit') طلب انضمام
						br
						div
							a(href='/about') عن الموقع
		// Javascript 
		script(src='assets/js/jquery-1.11.1.min.js')
		script(src='assets/bootstrap/js/bootstrap.min.js')
		script(src='assets/js/jquery.backstretch.min.js')
		script(src='assets/js/retina-1.1.0.min.js')
		script(src='https://www.google.com/recaptcha/api.js')

		script(src='assets/js/scripts.js')
		//      [if lt IE 10]>
									<script src="assets/js/placeholder.js"></script>
							<![endif]
